* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    ;
}

body {
    background-color: #E7EDEF;
    overflow-x: hidden;
    width: 100%;
}

header h3 {
    font-size: 48px;
}

h1 {
    text-align: center;
    margin-bottom: 15px;
    color: #084085;
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: auto;
    background-image: url(../images/header%202.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

article {
    margin: auto;
    width: 90%;
}

article h1{
    margin-top: 80px;
}

p {
    line-height: 1.6;
}

a:hover {
    cursor: pointer;
}
a{
    text-decoration: none;
}

/* -----------------------------Forside-----------------*/


.forsideheader {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: auto;
    background: rgba(2, 27, 76, 0.3)
}

#forsidearticle {
    margin-top: 0;
}



#forsidelogo {
    width: 70px;
    height: 35px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 0px;

}

.forside {
    background-image: url(../images/baggrund%20mobile2.png);
    background-repeat: no-repeat;
    margin: auto;
    background-size: 100% 1621px;
    height: 1261px;
}

.forside h1,
.forside h2 {
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
    color: #084085;
}

.forside p {
    font-size: 12px;
    color: #084085;
}

.forsidenaturel {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 50px;
}

.forsideintro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-left: 12%;
    margin-right: 5%;
    margin-top: 40px;
}

.forsideopskrift {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 50px;

}

.forsidetoppings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 50px;
}

.forsidetoppings h2{
    text-decoration: none;
}

.forsideintrocontent {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.forsideopskriftcontent
    {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: #084085;
}

.forsidetoppingscontent {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 10px;
}

.forsidenaturel img {
    width: 200px;
    height: auto;
}

.forsideintro img {
    width: auto;
    height: 150px;
}

.forsideopskrift img {
    width: 53%;
    height: auto;
}

.forsidetoppings img {
    width: 45%;
    height: auto;
}

/* ---------------------forside slut---------------------*/



/* ------------------------------mobil burgermenu---------------------*/

.navbar ul {
    display: none;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #7FAAE1;
    right: -200px;
    transition: all 500ms linear;
}

#logo {
    width: 70px;
    height: 35px;
    margin-top: 7px;
    margin-left: 3px;
    margin-bottom: 15px;
}

#sidebar.slide {
    right: 0px;
}

.slide .line2 {
    opacity: 0;
}

.slide .line1 {
    transform: rotate(-45deg) translate(2px, 8px);
}

.slide .line3 {
    transform: rotate(45deg) translate(-8px, -16px);
}

.mobilmenu{
    display: flex;
    flex-direction: column;
    height: 50%;
}

.link{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    padding: 15px 10px;

}

.link p{
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
}

/*
#sidebar ul li {
    color: rgba(255, 255, 255, 0.9);
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 15px 10px;

}

#sidebar li a {
    text-decoration: none;
    color: white;
}
*/

#sidebar .button {
    position: absolute;
    right: 210px;
    top: 5px;
    display: inline-block;

}

.line1,
.line2,
.line3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}


/* ------------------------mobil burgermenu slut-------------------------- */

/* ----------------------------footer-----------------------*/

footer {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-size: 100% 380px;
    color: white;
    margin-bottom: 0px;
}

footer h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.footercontent {
    margin-top: 60px;
    margin-bottom: 20px;
}

.contactinfo {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
}

.fa-at,
.fa-phone {
    margin-top: 4px;
    margin-right: 6px;
}

.Facebook {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 10px;
    text-decoration: none;
}

.fa-facebook {
    color: white;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.links a {
    text-decoration: none;
    color: white;
    margin-top: 5px;
}


#forsidefooter {
    background: none;
    background-color: #8B4F00;
    margin-top: 200px;

}

#forsidefooter p {
    color: white;
}

/* ----------------------------Footer slut---------------------------- */

/* ------------------Opskrift sektion--------------- */

.opskriftintro img {
    width: 100%;
}

.opskriftintro p {
    margin-top: 10px;
    color: #084085;
}

.ingredienser h2 {
    text-align: center;
}

.ingredienser {
    background-color: white;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 5%;
    margin-top: 15px;

}

.ingredienser ul {
    list-style: none;
    margin: auto;
    width: 90%;
}

.ingredienser h4,
.ingredienser p {
    margin: auto;
    width: 90%;
}

.ingredienser h4 {
    margin-top: 10px;
    font-weight: bolder;
}

.gennemgang {
    color: #084085;
    margin: auto;
    width: 85%;
}

.gennemgang h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.gennemgang li {
    margin-top: 2px;
}

.gallery {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.gallery h2 {
    color: #084085;
    margin-top: 25px;
}

.gallery img {
    width: 100%;
    height: auto;
    margin-top: 25px;

}

/* -------------Opskrift sektion slut--------------- */

/* ----------------Toppings sektion--------------------- */

#topping {
    width: 100%;
    margin-top: 25px;

}

.toppingsintro {
    color: #084085;
}

.toppingsintro p{
    font-size: 20px;
}

.toppingsindhold {
    color: #084085;
}

.toppingsindhold img {
    width: 100%;
}

.toppingsindhold h3 {
    margin-top: 8px;
}


.toppingsindhold ul {
    list-style: none;
}

.toppingsindhold li,
.fremgangsmåde li {
    margin-top: 3px;
}

.fremgangsmåde {
    color: #084085;
    margin-top: 15px;
}

.fremgangsmåde ol {
    margin-left: 5.5%;
}

.fremgangsmåde p {
    margin-top: 10px;
}

#toppingh1{
    margin-top: 20px;
}


/* ---------------------------Om sektion---------------------------*/

.animals img,
.partner img,
.ecology img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.animals,
.partner,
.ecology {
    color: #084085;
}

.animals p,
.partner p,
.ecology p {
    margin-bottom: 20px;
    margin-top: 15px;
    
}

.animals h4,
.partner h4,
.ecology h4 {
    margin-top: 10px;
}

.partner,
.ecology {
    border-top: 2px solid #084085;
}

/* ----------------------------Om sektion slut----------------------*/

/* -----------------------------------Q&A sektion----------------------- */



.qabox{
    margin-top: 90px;
    margin-bottom: 200px;
}

.questionintro p {
    margin: auto;
    width: 90%;
    font-size: 14px;
    margin-bottom: 20px;
    color: #084085;
}

.accordion {
    background: rgba(193, 220, 255, 0.6);
    color: #084085;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
    transition: 0.4s;
    font-weight: bold;
}

.active,
.accordion:hover {
    background: rgb(161, 201, 252);
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0px 18px;
    background: rgba(66, 104, 150, 0.1);
    max-height: 0;
    overflow: hidden;
    color: #084085;
    transition: max-height 0.3s ease-out;
    font-size: 14px;
}

/* -------------------------------Q&A sektion slut---------------------*/

/*---------------------Produkt sektion------------------*/

.product {
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

.product h4,
.product p,
.product li {
    color: #084085;
}

.productinfo {
    margin: auto;
    width: 90%;
    margin-bottom: 20px;
}

.product img {
    margin: auto;
    width: 100%;

}

.product li {
    list-style: none;
}

.product li,
.product p {
    line-height: 3;
    font-size: 17px;
}

.product h4 {
    font-size: 20px;
}

.inforight {
    margin-top: 30px;
}

#introproduct {
    color: #084085;
    text-align: center;
}

/* -----------Produkt slut ----------------*/


@media screen and (min-width: 375px) {
    .forsidetoppings {
        margin-top: 55px;
    }

    .forsideopskrift {
        margin-top: 90px;
    }

}

@media screen and (min-width: 450px) {
    .forside {
        background-image: url(../images/Ipad%20700%20%E2%80%93%201.png);
        background-size: 100% 1180px;
        height: 1180px;

    }

    .forsideheader {
        background: rgba(127, 170, 225, 0.5)
    }

    #forsidearticle {
        margin: auto;
        width: 80%;
    }

    #forsidefooter {
        background: none;
        background-image: url(../images/footer.png);
        width: 100%;
        background-size: 100% 100%;
        margin-top: 0px;

    }

    .forsidenaturel img {
        width: 300px;
        margin-top: 20px;
    }

    .forsidetoppings img {
        display: none;
    }

    .forside {
        margin: auto;
    }

    .forside p {
        font-size: 16px;
    }

    .forside h2,
    .forside h1 {
        font-size: 20px;
    }

    .forsideintro {
        display: flex;
        justify-content: center;
        margin: 0;
        margin-top: 70px;
    }


    .forsideintrocontent {
        margin-left: 2%;
    }



    .forsideopskrift {
        margin: 0;
        margin: auto;
        margin-top: 120px;
        display: flex;
        justify-content: center;
        width: 70%;
    }

    .forsideopskrift img {
        width: 250px;
        height: auto;
    }

    .forsideintro img {
        height: 180px;
    }

    .forsidetoppings {
        margin: 0;
        margin-top: 100px;
        margin-bottom: 20px;
        display: flex;
        justify-content: flex-end;
        width: 90%;
    }


}

@media screen and (min-width: 721px) {

    header {
        width: 100%;
    }

    #logo {
        width: 70px;
        height: 35px;
        margin-top: 10px;
        margin-left: 15px;
    }

    #forsidelogo {
        width: 70px;
        height: 35px;
    }



    article {
        width: 80%;
    }



    /* -------------------------navbar----------------------- */
    #sidebar {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .navbar li a {
        display: flex;
        justify-content: center;
        color: white;
        text-decoration: none;
    }

    .navbar ul a:hover {
        transform: scale(1.03, 1.03);
        transition: 0.2s;
    }

    .navbar ul {
        position: fixed;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 13px;
        color: white;
        font-weight: bolder;
        right: 8px;
        top: 13px;
        width: 55%;


    }

    .navbar li {
        display: flex;
        width: 100%;
        flex: 30%;

    }



    /* --------------------------footer----------------------- */
    .footercontent {
        display: flex;
        flex-direction: row;
        align-content: space-around;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    /* ------------------------Q&A sektion----------------------- */
    .panel {
        font-size: 12px;
    }

    .accordion {
        font-size: 14px;
    }

    .links {
        margin-top: 0px;
    }

    /* ---------------------------Om sektion----------------------- */

    .animals,
    .ecology {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }

    .partner {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
        padding-top: 20px;
    }

    .ecology {
        margin-top: 50px;
        padding-top: 20px;
    }

    .animals img,
    .partner img,
    .ecology img {
        width: 50%;
        height: 100%;
        margin-top: 0px;
    }
    
    .animals img{
        width: 55%;
    }

    .content p {
        font-size: 10px;

    }

    .content h2 {
        font-size: 15px;
    }

    .content {
        width: 40%;
    }

    /* ---------produkt sektion---------------------*/

    .product {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 4%;
        width: 90%;
    }

    .product img {
        width: 50%;
    }

    .product p,
    .product li {
        font-size: 12px;
        line-height: 2;
    }

    .product h4 {
        font-size: 13px;
        font-weight: bold;
        margin-top: 10px;
    }

    .productinfo {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
    }

    .infoleft,
    .inforight {
        width: 42%;
        display: flex;
        flex-direction: column;

    }

    .inforight {
        margin-top: 0px;
    }

    /* ----------------Opskrift sektion---------- */

    .opskriftintro {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;

    }

    .opskriftintro img {
        width: 50%;
        height: 100%;
    }

    .opskriftintro p {
        width: 45%;
        font-size: 20px;
    }

    .opskriftcontent {
        display: flex;
        flex-direction: row;
    }

    .opskriftcontent p,
    .opskriftcontent ul,
    .opskriftcontent ol {
        font-size: 13px;
    }

    .opskriftcontent h4 {
        font-size: 15px;
    }

    .ingredienser {
        width: 35%;
    }

    .gennemgang {
        width: 40%;
    }

    .gennemgang ol {
        margin-left: 5%;
    }

    .gennemgang h2 {
        font-size: 20px;
    }

    .gallery {
        margin-top: 25px;
    }

    .gallery img {
        width: 30%;
        height: 100%;
    }

    .pic-top,
    .pic-bot {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /* ---------------Toppings sektion------------------*/

    .toppingsindhold {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .indeholder {
        display: flex;
        flex-direction: column;
    }

    .toppingsindhold img {
        width: 70%;
        height: 100%;
    }

    .fremgangsmåde ol {
        margin-left: 3%;
    }

    .toppingsintro h1 {
    }

    .toppingsindhold li {
        font-size: 16px;
    }
    
    #topping{
        margin-top: 25px;
    }
}

@media screen and (min-width: 1000px) {

    
    article {
        width: 65%;
    }

    h1 {
        font-size: 40px;
    }

    #om {
        width: 75%;
    }

    /* -----------header------------ */

    .header {
        background-size: 100% 100%;
    }

    .forsidenaturel img {
        margin-top: 15px;
    }

    #logo {
        width: 100px;
        height: 50px;
    }

    #forsidelogo {
        width: 100px;
        height: 50px;
    }



    .navbar ul {
        font-size: 15px;
    }

    /*--------- om --------*/

    .content p {
        font-size: 13px;
        width: 90%;

    }

    .content h2 {
        font-size: 20px;
    }

    .animals img
        {
        width: 50%;
    }

    .partner img {
        width: 40%;
    }
    
    .ecology img{
        width: 53%;
    }

    .content {
        width: 45%;
    }
    
    .animals{
        padding-top: 20px;
    }

    /* -------forside---------*/

    .forside {
        background-image: url(../images/Web%201000%20%E2%80%93%202.png);
    }

    #forsidearticle {
        width: 70%;
    }

    #forsidefooter {
        margin-top: 50px;
    }

    .forsidetoppings {
        margin-top: 145px;
        margin-bottom: 85px;
    }

    /* -------opskrift-------*/

    .opskriftcontent {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }

    .opskriftcontent p,
    .opskriftcontent ul,
    .opskriftcontent ol {
        font-size: 15px;
    }

    .gennemgang li {
        margin-top: 15px;
    }

    .ingredienser {
        width: 30%;
    }

    /* -----------Toppings-----------*/
    #topping {
        margin-top: 10px;
    }

    .fremgangsmåde ol {
        margin-left: 2%;
    }
    
    /*-------Product-------------*/
    
    .product{
        width: 75%;
    }



}
